{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <form method="post" action="">
        <input type="text" name="pesquisa" placeholder="Pesquisar...">
        <input type="submit" value="...">
    </form>
</div>
<div class="container">
    <div>
        <img class="img-fluid" src={{produto.imagem.url}}>
        <span>{{produto.nome}}</span>
        <span>{{produto.descricao}}</span>
    </div>
    {% for adicional in adicionais %}
    <div>
        <img class="img-fluid" src="{{adicional.produto_parte.imagem.url}}">
        <span>{{adicional.produto_parte.nome}}</span>
        <p>{{adicional.quantidade}}</p>
    </div>
    {%endfor%}
    <a href="{% url 'add_carrinho' produto.id %}">Adicionar ao carrinho</a>
</div>
{% endblock %}