{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}
{% load l10n %}

<div class="container">
    <form method="post" action="">
        <input type="text" name="pesquisa" placeholder="Pesquisar...">
        <input type="submit" value="...">
    </form>
</div>
<div class="container">
    <form action="{% url 'adicionar_item'%}" method="POST">
        {% csrf_token %}
        <div>
            <input type="hidden" name="produto_id" value="{{produto.id}}">
            <img class="img-fluid" src={{produto.imagem.url}}>
            <span>{{produto.nome}}</span>
            <span>{{produto.descricao}}</span>
            <input type="number" name="produto_preco" value="{{ produto.preco|unlocalize }}">
            <input type="text" name="produto_observacoes">
        </div>
        {% for adicional in adicionais %}
        <div>
            <input type="hidden" name="produto_parte_id" value="{{adicional.produto_parte.id}}">
            <img class="img-fluid" src="{{adicional.produto_parte.imagem.url}}">
            <span>{{adicional.produto_parte.nome}}</span>
            <input type="number" name="item_quantidade" value="{{adicional.quantidade_padrao}}" min="{{adicional.quantidade_minima}}" max="{{adicional.quantidade_maxima}}">
        </div>
        {%endfor%}
        <button type="submit" value="Adicionar">Adicionar ao carrinho</button>
    </form>
</div>
{% endblock %}