{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <form method="post" action="">
        <input type="text" name="pesquisa" placeholder="Pesquisar...">
        <input type="submit" value="...">
    </form>
</div>
<div class="container">
    <div>
        <img class="img-fluid" src={{produto.imagem.url}}>
        <span>{{produto.nome}}</span>
        <span>{{produto.descricao}}</span>
    </div>
    {% for produto_ingrediente in produto_ingredientes %}
    <div>
        <img class="img-fluid" src="{{produto_ingrediente.ingrediente.imagem.url}}">
        <span>{{produto_ingrediente.ingrediente.nome}}</span>
        <p>{{produto_ingrediente.quantidade}}</p>
    </div>
    {%endfor%}
    <a href="{% url 'add_carrinho' produto.id %}">Adicionar ao carrinho</a>
</div>
{% endblock %}