{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid border border-dark p-5">
    <div>
        <div class="row ">
            <div class="col-md-12">
                <div class="row ">
                    <section class="col-md-6 ">
                        <div class="row m-5">
                            <div class="col-md-12 ">
                                <button class="btn btn-dark">Voltar</button>
                            </div>
                        </div>
                        <div class="row m-5">
                            <div class="col-md-12">
                                <h2>Cadastro de Restaurante</h2>
                                <form class="p-3">
                                    {% for produto in produtos %}
                                    <span>{{produto.nome}}</span>
                                    <img src="{{produto.imagem.url}}">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="quantidade">Quantidade:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="quantidade"
                                                    name="quantidade" min="1" required>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </section>
                    <section class="col-md-6">
                        <div class="row m-5">
                            <div class="col-md-12">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium necessitatibus
                                doloribus, quam in perferendis tempore? Minus voluptas rerum excepturi. Quod ex rem
                                repellat impedit commodi voluptas amet accusamus eius sit?
                            </div>
                        </div>
                        <div class="row justify-content-end text-right m-5">
                            <div class="col-md-12">
                                <button class="btn btn-dark">Voltar</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        ExibirAmbiente("{{restaurante.nome}}", "{{restaurante.imagem.url}}")
    });
</script>
{% endblock %}