{% extends 'totem_cliente/base.html' %}
{% include 'components/quote_detail.html' with quote=second_quote %}
{% include 'components/quote_detail.html' with quote=first_quote %}
{% block content %}
{% load static %}
<div class="container-fluid p-5">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="row m-5">
              <div class="col-md-12">
                <a class="btn btn-dark" href="{% url 'listar_carrinho' %}">Voltar</a>
              </div>
            </div>
            <div class="row m-5">
              <div class="col-md-12">
                <h2>Produtos Adicionados:</h2>
                <ul class="list-group" style="max-height: 600px; overflow: auto">
                  {%for produto in produtos %}
                  <li class="list-group-item">
                    <img src="{{produto.imagem.url}}" style="height: 100px">
                    <h3>{{produto.nome}} x{{produto.quantidade}}</h3>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row m-5">
              <div class="col-md-12">
                <h4 class="h5">Forma de pagamento:</h4>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">Crédito</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                  <label class="form-check-label" for="flexRadioDefault2">Débito</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                  <label class="form-check-label" for="flexRadioDefault2">Pix</label>
                </div>
              </div>
            </div>
            <div class="row justify-content-end text-right m-5">
              <div class="col-md-12">
                <form id="formPedido">
                  {%csrf_token%}
                  <textarea maxlength="500" name="observacoes" placeholder="Observações" rows="5"></textarea>
                </form>
                <!-- Modal -->
                <div>
                  <a class="btn btn-success" href="javascript: RealizarPagamento()">Avançar</a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h2>Total: R$ {{total}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      ExibirAmbiente("{{restaurante.nome}}", "{{restaurante.imagem.url}}")
    });

    function RealizarPagamento() {
      var url = "{% url 'realizar_pagamento' %}"
      $.get(
        url,
        function (resultado) {
          if (!resultado.Sucesso) {
            if (resultado.Mensagem.includes("Sessão")) {
              Swal.fire({
                title: 'Oops...',
                html: resultado.Mensagem,
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading()
                }
              }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                  window.location.href = "{% url 'home'%}"
                }
              })
            }
            else
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                html: resultado.Mensagem
              })
          }
          else if (resultado.Mensagem != "")
            Swal.fire({
              icon: 'info',
              title: 'Atenção',
              html: resultado.Mensagem
            })
          else {
            GerarPedido()
          }
        })
    }

    function GerarPedido() {
      var url = "{% url 'gerar_pedido' %}"
      $.post(
        url,
        $("#formPedido").serializeArray(),
        function (resultado) {
          if (!resultado.Sucesso) {
            if (resultado.Mensagem.includes("Sessão")) {
              Swal.fire({
                title: 'Oops...',
                html: resultado.Mensagem,
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading()
                }
              }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                  window.location.href = "{% url 'home'%}"
                }
              })
            }
            else
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                html: resultado.Mensagem
              })
          }
          else if (resultado.Mensagem != "")
            Swal.fire({
              icon: 'info',
              title: 'Atenção',
              html: resultado.Mensagem
            })
          else {
            Swal.fire({
              title: 'Sucesso!',
              icon: 'success',
              showConfirmButton: true,
              confirmButtonText: 'Encerrar',
              html: `Pedido realizado: ${resultado.Retorno}. Retire no balcão`,
              timer: 30000,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
              }
            }).then((result) => {
              if (result.dismiss === Swal.DismissReason.timer) {
                window.location.href = "{% url 'home'%}"
              }
            })
          }
        })
    }
  </script>
  {% endblock %}