{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}

<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 align-self-center">
                <ul class="nav flex-column">
                    {% for categoria in categorias %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{categoria.nome}}</a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            <section class="col-md-9">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="container">
                            <form method="post" action="">
                                <h1 class="masthead-subheading" style="display: flex; width:40%; margin:0px auto;">
                                    PRODUTOS</h1>
                                <div class="input-group" style="display: flex; width:50%; margin:0px auto;">
                                    <input type="text" class="form-control" placeholder="Pesquisar"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    <button class="btn btn-secondary" type="button" id="button-addon1">...</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-between">
                            {% for produto in produtos%}
                            <div class="col-md-3 m-1">
                                <div class="card">
                                    <img src="{{produto.imagem.url}}" class="card-img-top" alt="{{produto.nome}}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{produto.nome}}</h5>
                                        <p class="card-text block-with-text">{{produto.descricao}}</p>
                                        <a href="{% url 'adicionar_produto' produto.id%}" class="btn btn-primary">Adicionar ao pedido</a>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-12">
                        <button class="btn btn-dark text-end">
                            AVANÇAR
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Abrir/fechar o menu lateral ao clicar no botão de
        $('.menu-toggle').click(function () {
            $('.sidebar').toggleClass('active');
        });
    });
</script>
{% endblock %}