{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}

<div class="position-fixed text-center" id="divCarrinho" style="display: none; top: 150px; left: 750px;">
    <i class="fas fa-shopping-cart"></i>
    <h5 id="quantidadeCarrinho"></h5>
</div>
<div class="col-md-12 mb-5">
    <div class="container">
        <form id="formProduto">
            {% csrf_token %}
            <div class=>
                <h1 class="masthead-subheading align-self-center py-5"
                    style="display: flex; width:40%; margin:0px auto;">PRODUTOS</h1>
            </div>
            <div class="input-group" style="display: flex; width:50%; margin:0px auto;">
                <input type="text" id="txtBuscar" name="nome" class="form-control" placeholder="Procure um produto">
                <button class="btn btn-light" type="button" onclick="BuscarProdutos()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
    </div>
</div>
<button class="btn btn-danger position-fixed" type="button" id="btnLimparFiltro" onclick="LimparFiltro()"
    style="display: none; top: 250px; left: 650px;">Limpar
    Filtro</button>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                {% for categoria in categorias %}
                <a class="link-unstyled" href="javascript: SelecionarCategoria({{categoria.id}})">
                    <input type="hidden" class="hiddenCategoria" id="hiddenCategoria-{{categoria.id}}"
                        value="{{categoria.id}}">
                    <li class="list-group-item d-flex justify-content-between align-items-center btnCategoria rounded"
                        id="btnCategoria-{{categoria.id}}">
                        <p>{{categoria.nome}}</p>
                    </li>
                </a>
                {%endfor%}
            </ul>
        </div>
        </form>
        <div class="col-md-9" style="max-height: 750px; overflow: auto">
            <div class="d-flex flex-wrap ms-2 my-1">
                {% for produto in produtos%}
                <div class="divProduto mx-3 px-4" id="divProduto-{{produto.id}}" style="width: 150px">
                    <div>
                        {% if produto.imagem == "" or produto.imagem == null %}
                        <img src="{% static 'assets/img/sem_foto.png' %}" alt="{{restaurante.nome}}">
                        {% else %}
                        <img src="{{produto.imagem.url}}" alt="{{produto.nome}}">
                        {% endif %}
                    </div>
                    <div class="text-center" style="height: 100px">
                        <span class="font-medium">{{produto.nome}}</span>
                    </div>
                    <div class="text-center" style="height: 30px">
                        <span class="font-medium">R$ {{produto.preco}}</span>
                    </div>
                    <div>
                        <a href="javascript: AdicionarProduto({{produto.id}})" class="btn btn-success">ADICIONAR</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="d-flex align-items-end flex-column ">
        <a class="btn btn-dark text-end" href="{% url 'listar_carrinho' %}">
            AVANÇAR
        </a>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        ExibirAmbiente("{{restaurante.nome}}", "{{restaurante.imagem.url}}")
        ExibirCarrinho("{{carrinho}}")
    });

    function SelecionarCategoria(id) {
        $(".hiddenCategoria").removeAttr("name")
        $(".btnCategoria").removeClass("active")
        $(`#hiddenCategoria-${id}`).attr("name", "categoriaSelecionada")
        $(`#btnCategoria-${id}`).addClass("active")
        BuscarProdutos()
    }

    function AdicionarProduto(id) {
        var url = "{% url 'adicionar_produto' 0 %}".replace("0", id);
        $.get(
            url,
            function (resultado) {
                if (!resultado.Sucesso) {
                    if (resultado.Mensagem.includes("Sessão")) {
                        Swal.fire({
                            title: 'Oops...',
                            html: resultado.Mensagem,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                            }
                        }).then((result) => {
                            if (result.dismiss === Swal.DismissReason.timer) {
                                window.location.href = "{% url 'home'%}"
                            }
                        })
                    }
                    else
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: resultado.Mensagem
                        })
                }
                else if (resultado.Mensagem != "")
                    Swal.fire({
                        icon: 'info',
                        title: 'Atenção',
                        html: resultado.Mensagem
                    })
                else
                    ExibirCarrinho(Object.keys(resultado.Retorno).length)
            })
    }

    function ExibirCarrinho(itens) {
        if (itens > 0) {
            $("#divCarrinho").show()
            $("#quantidadeCarrinho").text(itens)
        }
    }

    function LimparFiltro() {
        $(".divProduto").show()
        $("#btnLimparFiltro").hide()
        $("#txtBuscar").val('')
        $(".btnCategoria").removeClass("active")
        $(".hiddenCategoria").removeAttr("name")
    }

    function BuscarProdutos() {
        var url = "{% url 'buscar_produtos' %}"
        $.post(
            url,
            $("#formProduto").serializeArray(),
            function (resultado) {
                if (!resultado.Sucesso) {
                    if (resultado.Mensagem.includes("Sessão")) {
                        Swal.fire({
                            title: 'Oops...',
                            html: resultado.Mensagem,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                            }
                        }).then((result) => {
                            if (result.dismiss === Swal.DismissReason.timer) {
                                window.location.href = "{% url 'home'%}"
                            }
                        })
                    }
                    else
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            html: resultado.Mensagem
                        })
                }
                else {
                    $("#btnLimparFiltro").show()
                    $(".divProduto").hide()
                    $.each(resultado.Retorno, function (i, produto_id) {
                        $(`#divProduto-${produto_id}`).show()
                    })
                }
            }
        )
    }

</script>
{% endblock %}