{% extends "totem_cliente/base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <form method="post" action="">
        <input type="text" name="pesquisa" placeholder="Pesquisar...">
        <input type="submit" value="...">
    </form>
</div>
<div class="container">
    {% for produto in produtos %}
    <div>
      <a href="">
        <img class="img-fluid" src={{produto.imagem.url}}>
        <span>{{produto.nome}}</span>
      </a>
    </div>
    {%endfor%}
  </div>
{% endblock %}''